// add or import your app styles here
/*@import 'tasks';

* {
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
}
body {
  background-color: white;*/
  /*font-size: .875rem;
  line-height: 1.5;*/
/*}

body.app-5ebfa152-de85-48da-82dd-30a1b560c313 main > .container, body.app-5ebfa152-de85-48da-82dd-30a1b560c313 .cover > .container, body.controller-post.action-get main > .container, body.controller-post.action-get .cover > .container {
  max-width: 1000px !important;
}
.img-32.avatar.my-4 {
  display: none;
}*/


